<server description="Sample Liberty server">

    <featureManager>
        <feature>javaee-8.0</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint" host="*" httpPort="9080" httpsPort="9443" />

    <library id="hsqldb">
        <fileset dir="C:/Users/beto/Desktop/dev/hsql databases/pdv" includes="hsqldb-2.2.9.jar"/>
    </library>

    <dataSource id="jdbc/BijuDS" jndiName="jdbc/BijuDS">
        <jdbcDriver libraryRef="hsqldb" javax.sql.ConnectionPoolDataSource="org.hsqldb.jdbc.pool.JDBCPooledDataSource"/>
        <properties URL="jdbc:hsqldb:hsql://localhost:9955" user="sa" password=""/>
    </dataSource>

    <webApplication id="bijus"
                    contextRoot="/bijus"
                    location="bijus.war"/>
</server>
